*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-red: #FF0000;
    --color-blue: #0000FF;
    --color-green: #00FF00;
    --color-yellow: #FFFF00;
    --color-aqua: #00FFFF;
    --color-magenta: #FF00FF;
    --color-orange: #FFA500;
    --color-grey: #808080;
    --color-slate-blue: #6A5ACD;
    --color-rainbow: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
h1 {
    font-family: 'Press Start 2P', cursive;
}
body {
    font-family: 'Roboto', sans-serif;
}
button{
    cursor: pointer;
}
/* Window */

#window{
    width: 100vw;
    height: 100vh;
    padding-inline: 40px;
    padding-block: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Title */

#title{
    text-align: center;
    padding: 20px;
}

/* DrawControlContainer */

#drawControlContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.inputRangeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#buttomControlDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
#buttomControlDiv button{
    width: 85px;
    height: 85px;

}

/* ColorTools */

#colorTools{
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicadorContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-black);
}

.indicador{
    width: 50px;
    height: 50px;
    background-color: var(--color-black);
    
}
.colorDiv{
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

}

.color{
    width: 40px;
    height: 40px;

    border: 3px solid gainsboro;
}
/* colors */
.colorBlack{
    background-color: var(--color-black);
}
.colorWhite{
    background-color: var(--color-white);
}
.colorRed{
    background-color: var(--color-red);
}
.colorBlue{
    background-color: var(--color-blue);
}
.colorGreen{
    background-color: var(--color-green);
}
.colorYellow{
    background-color: var(--color-yellow);
}
.colorAqua{
    background-color: var(--color-aqua);
}
.colorMagenta{
    background-color: var(--color-magenta);
}
.colorOrange{
    background-color: var(--color-orange);

}
.colorGrey{
    background-color: var(--color-grey);
}
.colorSlateBlue{
    background-color: var(--color-slate-blue);
}
.colorRainbow{
    background: var(--color-rainbow);
}

.indicadorContainer,
.eraser{
    width: 85px;
    height: 85px;
}
.eraser i{
    font-size: 2rem;
}

/* DrawContainer */

#drawContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.drawDiv{
    width: 500px;
    height: 500px;
    box-sizing: content-box;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border: 1px solid var(--color-black);
}
.pixelStyle{
    border: .5px solid gainsboro;
}

/* Footer */

#footer{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%); 
}
#footer p{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1.2rem;
}